.Header {
  text-align: center;
  background: #F1EBCD;
  border-style: none;
}
.txt {
  color: darkcyan;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.8;
  word-spacing: 4px;
  font-family: Tahoma, Verdana, sans-serif;
  //font-family: "Sofia", sans-serif;
  font-weight: bold;
  font-style: oblique;
  //font-size: 30px;
  font-size: 0.875em;
}